   
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=9438b95b60c710b2cfdac947ae00e59a">
   
   
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="#">Company Name</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">First Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Second Item</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Dropdown </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">First Item</a>
                            <a class="dropdown-item" href="#">Second Item</a>
                            <a class="dropdown-item" href="#">Third Item</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text actions"> 
                    <a class="login" href="#">Log In</a>
                    <a class="btn btn-light action-button" role="button" href="#">Sign Up</a>
                </span>
            </div>
        </div>
    </nav>

    <!-------------------------------------------------------------------


<span className="navbar-text actions"> 
                    <Button variant="primary" size='lg' className= "nav-button__login">Login</Button>&nbsp;&nbsp;&nbsp;
                    {/*<a className="login" href="#">Log In</a>*/}

                    <Button variant="primary" size='lg' className= "nav-button__signup">Sign Up</Button>
                    {/*<a className="btn btn-light action-button" role="button" href="#">Sign Up</a>*/}

                </span>


    